.collection h1 {
  text-align: center;
}

.collectionGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 30px;
  gap: 0.5rem;
}

@media only screen and (min-width: 1000px) {
  .collection {
    margin: 0 100px 70px 100px;
  }
}
