.collection h1 {
  text-align: center;
}

.collectionGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 30px;
  gap: 0.5rem;
}

@media only screen and (min-width: 1000px) {
  .collection {
    margin: 0 100px 70px 100px;
  }
}

@media only screen and (max-width: 900px) {
  .collectionGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .collectionGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}
