.item {
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.itemDetails {
  background-color: white;
  padding: 5px;
}

.priceDetails {
  display: flex;
  gap: 0.5rem;
}

.priceDetails :first-child {
  font-weight: bold;
}

.priceDetails :last-child {
  text-decoration: line-through;
  color: grey;
}

@media only screen and (min-width: 1200px) {
  .item {
    max-width: 400px;
  }
}
