.nav {
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLogo {
  display: flex;
  align-items: center;
}

.navLinks {
  display: flex;
  gap: 0.6rem;
  list-style: none;
}

.navLinks a {
  text-decoration: none;
  font-weight: bold;
  color: #7a7979;
  padding: 10px 14px;
  font-size: 17px;
}

.navLinks a.active {
  color: black;
  border-bottom: 2px solid;
}

.navActions a {
  text-decoration: none;
  font-weight: bold;
  color: #7a7979;
  padding: 10px 14px;
  font-size: 17px;
}

.navActions a.active {
  color: black;
  border-bottom: 2px solid;
}

.navActions {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.navActions button {
  position: relative;
  background-color: inherit;
  border: none;
  margin: 10px 5px;
  cursor: pointer;
}

.navActions p {
  width: 15px;
  height: 15px;
  font-size: 12px;
  border-radius: 50%;
  color: white;
  background-color: red;
  position: absolute;
  top: -5px;
  right: -5px;
}

@media only screen and (max-width: 600px) {
  .navLinks a {
    font-size: 15px;
  }

  .navLogo {
    display: none;
  }
}
