.footer {
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 17px;
  color: white;
}
