.category {
  margin: 10px 0 20px 0;
}

.categoryShow {
  margin: 20px 10px;
}

.categoryShow span {
  font-weight: bold;
}

.categoryGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 0px 10px;
}

.categoryControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0.6rem;
}

.categoryControl select {
  padding: 7px;
  color: #6d6d6d;
  cursor: pointer;
  outline: none;
}

.categoryAction {
  text-align: center;
}

.categoryAction button {
  margin: 30px 0 40px 0;
  padding: 10px 15px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

.categoryAction button:hover {
  background-color: grey;
  color: white;
  transition: 0.3s ease;
}

.categoryAction button:disabled {
  cursor: not-allowed;
}

.categoryAction button:disabled:hover {
  background-color: #d6d6d6;
  color: #a1a1a1;
  cursor: not-allowed;
}

@media only screen and (min-width: 1000px) {
  .category {
    margin: 20px 170px;
  }

  .categoryControl {
    margin-right: 0.6rem;
  }
}

@media only screen and (max-width: 600px) {
  .categoryGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
