.popular {
  padding: 0 30px;
  margin-bottom: 100px;
}

.popular h1 {
  text-align: center;
}

.popularGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

@media only screen and (min-width: 1000px) {
  .popular {
    margin: 0 100px 70px 100px;
  }
}

@media only screen and (max-width: 900px) {
  .popularGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
